/* neon pink - #e23ccf */
/* neon blue - #4dd8fd */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: black;
}

h1 {
    font-size: 25em;
    letter-spacing: -0.06em;
}

.umok {
    width: auto;
}

.umok h2 {
    font-size: 5em;
    margin-top: -1em;
    margin-bottom: 0;
    padding-left: 2em;
}

.um {
    margin: 0;
}

.ok {
    margin-top: -0.59em;
    margin-bottom: 0;
    padding-left: 0.21em;
    letter-spacing: -0.12em;
}

.outline {
    color:  #e23ccf;
    -webkit-text-stroke-width: 0.03em;
    -webkit-text-stroke-color: #4dd8fd;
    animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 100px #fff, 0 0 200px #fff, 0 0 300px #e23ccf, 0 0 400px #e23ccf, 0 0 500px #e23ccf, 0 0 600px #e23ccf, 0 0 200px #e23ccf;
  }
  to {
    text-shadow: 0 0 200px #fff, 0 0 300px #4dd8fd, 0 0 400px #4dd8fd, 0 0 500px #4dd8fd, 0 0 600px #4dd8fd, 0 0 700px #4dd8fd, 0 0 200px #4dd8fd;
  }
}